<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Mainstreet Rails" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Mainstreet Rails" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <%= image_tag("wall2.jpg", id: "bg") %>
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
    <footer>
    </footer>
  </body>
</html>